body {
    font-family: Arial, sans-serif;
    padding: 20px;
    }

    h1, h2 {
    text-align: center;
}

#site-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#blocked-sites {
    list-style-type: none;
    padding: 0;
}

#blocked-sites li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#blocked-sites li button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
